.plan {
  margin-bottom: 132px;
}

.plan__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191b;
  max-width: 504px;
  margin-bottom: 110px;
}
